## Astah
*.lock

## JetBrains
.idea

## Microsoft Office
*.tmp
~$*.doc*
~$*.xls*
*.xlk
~$*.ppt*
.~vsdx

## Visual Studio
*.booproj
*.coverage
*.pidb
*.suo
*.svd
*.sln.docstates
*.unityproj
*.user
*.userosscache
*.userprefs
*.opt
*.tmp
*/.vs
*/ExportedObj
*/obj

sysinfo.txt

## Unity
*.cs.meta
*.log
*/UpgradeLog.htm
*/Temp
*/Library

## OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db