# Astah
*.lock

# JetBrains
.idea

# IntelliJ
/out/

# Microsoft Office
*.tmp
~$*.doc*
~$*.xls*
*.xlk
~$*.ppt*
.~vsdx

# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
.vs/
*.coverage
*.opt
*.csproj
*.tmp

sysinfo.txt

# Unity
UpgradeLog.htm